.header-chat-bar {
  width: 100% !important;
}

.chat-bar-details-contanier {
  height: 50px;
  background-color: cornflowerblue;
}
.chat_bar_user-info_container img {
  border-radius: 50%;
  margin-top: 10px;
}
.user_account_name {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}
.account_last_seen {
  font-size: 13px;
  color: #fff;
  margin-top: -5px;
}
@media screen and (max-width: 767px) {
  .chat-bar-container {
    position: absolute;
    top: 0;
  }
  .display-chat-lists {
    background-image: url('/public/background.jpg');
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
  }
  .back-arrow-function {
    margin-top: 10px;
    font-weight: bold;
    display: block !important;
  }
}
.back-arrow-function {
  margin-top: 10px;
  font-weight: bold;
  display: none;
}
.no-message-in-chat-container p {
  z-index: 10;
  margin-top: 100px;
}
.type-input {
  position: absolute;
  bottom: 0 !important;
  width: calc(100% - 25%);
}
.type-input input {
  border-radius: 20px 0 0 20px !important;
  border: none !important;
  margin: 0 0 10px 7px;
}
.type-input input:focus {
  border: none !important;
  box-shadow: none;
}
.type-input span {
  border-radius: 0 20px 20px 0 !important;
  background-color: #fff;
  border: none;
  color: cornflowerblue;
  margin: 0 7px 10px 0;
}
.type-input input::placeholder {
  font-size: 15px !important;
}
@media screen and (max-width: 993px) {
  .type-input {
    position: absolute;
    bottom: 0 !important;
    width: calc(100% - 33.3%);
  }
}
@media screen and (max-width: 760px) {
  .type-input {
    position: absolute;
    bottom: 0 !important;
    width: 100% !important;
  }
}
.chat-list-contaier {
  height: calc(100vh - 129px);
  overflow: auto;
  padding: 2px 15px;
}
.cursor-pointer {
  cursor: pointer !important;
}
.sent-message-time {
  font-size: 13px;
  margin-top: 2px;
  color: cornflowerblue;
}
.text-message-style {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}
.display-chat-container {
  height: 82% !important;
  background-image: url('/public/background.jpg');
  background-size: cover;
  overflow: auto;
}

.sender-message-styles p {
  background-color: #fff;
  color: black;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 4px 1px;
  justify-content: end;
  width: fit-content;
}
.receiver-message-styles p {
  text-align: right !important;
  background-color: #fff;
  color: black;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 4px 1px;
  justify-content: start;
  width: fit-content;
  max-width: 270px;
  margin-left: auto;
}
.sender-message-styles {
  display: flex;
  flex-direction: column;
}
.receiver-message-styles {
  display: flex;
  flex-direction: column;
}
