.home_page_container {
  height: calc(100vh - 20px);
  width: 100%;
}
.nav_bar_section {
  width: 100%;
  height: calc(100vh - 20px);
  background-color: rgb(247, 247, 247);
}
.header_nav_bar {
  background-color: #6495ed;
}
.main_header {
  height: 20px;
  background-color: rgb(90, 132, 209);
}
.search_icon path {
  stroke: rgb(255, 255, 255) !important;
}
.contact_chats_holder {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 30px 0;
}
.contact_name_logo {
  color: #fff;
  font-weight: bold !important;
}
.chat_bar_section {
  height: 52px;
  background-color: #6495ed;
}
.chat_bar_title {
  height: 20px;
  background-color: rgb(90, 132, 209);
}
.chat_bar_info_container img {
  margin-top: 10px;
  border-radius: 50%;
}
.chat_account_name {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}
.account_last_seen {
  font-size: 13px;
  color: #fff;
  margin-top: -5px;
}
@media screen and (max-width: 1110px) {
  .chat_bar_section {
    display: none !important;
    height: 100vh !important;
  }
  .main_header {
    display: none !important;
  }
}
@media screen and (min-width: 1111px) and (max-width: 1199px) {
  .chat_bar_section {
    display: none !important;
    height: 100vh !important;
  }
}
.contact_chats_holder img {
  border-radius: 50%;
  margin: 0 5px 0 15px !important;
}
.contact_name {
  font-size: 14px;
  font-weight: bold;
}
.last_message {
  font-size: 13px;
  color: gray;
  margin-top: -3px;
}
.user_last_time_message {
  font-size: 13px;
  color: rgb(80, 78, 78);
  margin-right: 20px;
  margin-top: -25px;
}
.chat_notication_shade {
  width: 22px;
  height: 22px;
  background-color: rgb(63, 187, 63);
  border-radius: 50%;
  margin: 3px auto 0;
}
.chat_notication_shade span {
  color: #fff;
}
.humberger_menu_display {
  position: absolute;
  background-color: #fff;
  width: 25%;
  height: calc(100vh - 20px);
  transition: all 0.9s;
}
.off_canvas_menu {
  background-color: #fff;
  width: 25% !important;
  margin-top: 72px;
  height: calc(100vh - 72px);
  position: relative;
}

.off_canvas_menu img {
  width: 100%;
  height: 200px;
  padding-top: 2px;
}
.off_canvas_header p:nth-child(3) {
  color: #fff;
  position: absolute;
  top: 167px;
  left: 65px;
  font-size: 12px;
}
.off_canvas_header p:nth-child(2) {
  color: #fff;
  position: absolute;
  top: 147px;
  left: 65px;
  font-weight: bold !important;
}
.off_canvas_header img {
  width: 40px;
  height: 39px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 148px;
}
