.home-page-container {
  background-image: url("/public/background.jpg");
  object-fit: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh !important;
  max-height: 100vh !important;
}
